@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  background-color: #64748b;
  color: #18181b;
  min-height: 100%;
  width: 100vw;
}

input[type="text"],
button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 70%;
  background-color: #f8fafc;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #333;
}

h1 {
  margin: 0.5rem 0;
}

form,
article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafc;
  border: 1px solid #18181b;
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

input[type="checkbox"] {
  min-width: 10%;
  min-height: 30px;
  margin-right: 1rem;
}
.label {
  width: 90%;
  word-wrap: break-word;
}
button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #18181b;
  border-radius: 10%;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10%;
  width: 30%;
}
.edit {
  background-color: #f8fafc;
  color: #0865f0;
  width: 30%;
}
.trash {
  background-color: #f8fafc;
  color: #ef4444;
  width: 30%;
}

.trash:focus,
.trash:hover {
  filter: brightness(120%);
}
.edit:focus,
.edit:hover {
  filter: brightness(120%);
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #18181b;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #18181b;
}

.submit {
  background-color: #f8fafc;
  color: gray;
}

.submit:focus,
.submit:hover {
  background-color: limegreen;
  color: #f8fafc;
}
/* Media query for small screens */
@media (max-width: 600px) {
  article {
    flex-direction: column;
  }
  .todo {
    width: 100%;
  }

  .icons {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 5%; /* Adjust the gap based on your preference */
  }

  .edit,
  .trash {
    width: auto; /* Allow the buttons to take the necessary space */
  }
}
